<%- include("partials/header") %>

<main>
  <h2>Welcome to Service Network</h2>
  <p>
    This platform connects volunteers with organizations and service projects
    that improve communities.
  </p>
    <img src="/images/service-rep.webp" alt="Bright Future Logo" class="home-image">
    <% if (isLoggedIn) { %>
    <p><a href="/dashboard">My Dashboard</a></p>
<% } %>
</main>

<%- include("partials/footer") %>